In [40]:
# setting up the connection string
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.append('../')
import pyodbc
import pandas as pd
from src.ingest.upload import UploadDataToSql, UploadDataToBlob

server = 'appliedai.database.windows.net'
database = 'olist'
username = 'santoshgsk'
password = 'santosh$123'
driver= '{ODBC Driver 17 for SQL Server}'

account_name = 'santoshgsk'
account_key = '+j79npiEz7tb12Y0pkjrYJzu7pSSXqunfwNkcRqwI7P+Zx4tBqCKYIYkaUizR7Fcfd/5mlgmwNrkrGuShfAtTw=='
connection_str = 'DefaultEndpointsProtocol=https;AccountName=santoshgsk;AccountKey=+j79npiEz7tb12Y0pkjrYJzu7pSSXqunfwNkcRqwI7P+Zx4tBqCKYIYkaUizR7Fcfd/5mlgmwNrkrGuShfAtTw==;EndpointSuffix=core.windows.net'
container_name = 'olist-files'

storage_sas_token = 'sv=2019-02-02&ss=bfqt&srt=sco&sp=rwdlacup&se=2021-02-19T12:28:42Z&st=2020-01-03T04:28:42Z&spr=https&sig=eOucV7eqBJPTjml5PLGMvNw0MAmhs86cKraxLvVqLRg%3D'
blob_url = 'https://santoshgsk.blob.core.windows.net/olist-files'

data_folder = '/app/datasets/brazilian-ecommerce/'

data_to_sql = UploadDataToSql(server, database, username, password, driver)
blob_upload = UploadDataToBlob(connection_str, account_name, account_key, container_name)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [146]:
# upload to blob
for filename in os.listdir(data_folder):
    blob_upload.upload_blob(filename, data_folder + filename)

In [41]:
data_to_sql.create_blob_source(storage_sas_token, blob_url)

'The BLOB source is already created! \n            In order to change it call <your_upload_sql_object>.BLOB_SOURCE = <new_name>'

In [43]:
# create tables
for f in os.listdir(data_folder):
    data_to_sql.upload_csv_to_database(data_folder + f, f)

table_name olist_sellers
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_sellers')
            BEGIN CREATE TABLE olist_sellers (seller_id VARCHAR(2000),seller_zip_code_prefix INT,seller_city VARCHAR(2000),seller_state VARCHAR(2000),) END
table_name product_category_name_translation
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='product_category_name_translation')
            BEGIN CREATE TABLE product_category_name_translation (product_category_name VARCHAR(2000),product_category_name_english VARCHAR(2000),) END
table_name olist_orders
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_orders')
            BEGIN CREATE TABLE olist_orders (order_id VARCHAR(2000),customer_id VARCHAR(2000),order_status VARCHAR(2000),order_purchase_timestamp DATETIME2,order_approved_at DATETIME2,order_delivered_carrier_date DATETIME2,order_delivered_customer_date DATETIME2,order_estimated_delivery_date DATETIME2,) END
table_name olist_order_items
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_order_items')
            BEGIN CREATE TABLE olist_order_items (order_id VARCHAR(2000),order_item_id INT,product_id VARCHAR(2000),seller_id VARCHAR(2000),shipping_limit_date DATETIME2,price VARCHAR(2000),freight_value VARCHAR(2000),) END
table_name olist_geolocation
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_geolocation')
            BEGIN CREATE TABLE olist_geolocation (geolocation_zip_code_prefix INT,geolocation_lat VARCHAR(2000),geolocation_lng VARCHAR(2000),geolocation_city VARCHAR(2000),geolocation_state VARCHAR(2000),) END
table_name olist_order_payments
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_order_payments')
            BEGIN CREATE TABLE olist_order_payments (order_id VARCHAR(2000),payment_sequential INT,payment_type VARCHAR(2000),payment_installments INT,payment_value VARCHAR(2000),) END
table_name olist_order_reviews
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_order_reviews')
            BEGIN CREATE TABLE olist_order_reviews (review_id VARCHAR(2000),order_id VARCHAR(2000),review_score INT,review_comment_title VARCHAR(2000),review_comment_message VARCHAR(2000),review_creation_date DATETIME2,review_answer_timestamp DATETIME2,) END
table_name olist_products
sql  IF NOT EXISTS (select *
            from information_schema.tables where table_type='base table'
            and table_catalog='olist' and table_name='olist_products')
            BEGIN CREATE TABLE olist_products (product_id VARCHAR(2000),product_category_name VARCHAR(2000),product_name_lenght FLOAT,product_description_lenght FLOAT,product_photos_qty FLOAT,product_weight_g FLOAT,product_length_cm FLOAT,product_height_cm FLOAT,product_width_cm FLOAT,) END